body{
    width: 100w;
    height: 100vh;
    background: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    color: black;
    background-color: white;
    width: 50vw;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 5px red;
}


h1{
    border-bottom: 2px solid red;
    cursor: default;
}

h2{
    cursor: default;
}


.color{
    color: green;
}



.box-element{
    margin: 5px;
    text-align: center;
}

h3{
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    margin-left: 15px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 20px;
}

.corw{
    background-color: rgb(52, 175, 35);
    padding: 3px 4px;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}

.cort{
    background-color: rgb(0, 172, 237);
    padding: 3px 4px;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}

.core{
    background-color: white;
    color: red;
    padding: 3px 4px;
    border-radius: 5px;
    margin-left: 2px;
}

.cori{
    margin-left: 5px;
    color: white;
    background: linear-gradient(to bottom, purple, red, yellow);
    padding: 3px 4px;
    border-radius: 5px;
}